<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="environmentalism, climate change, collapse, blog, art, digital garden">
        <title>{% if page.tab %}{{ page.tab }}{% else %}{{ site.title }}{% endif %}</title>
        <link rel="stylesheet" href="/꩜/css/lost.css">
     </head>  
     <body>
        <section style="padding: 0; margin: 0;">
          {{ content }}
        </section>
  </body>
</html>
